<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=<title>Benford API</title>
    <link rel="icon" type="image/svg+xml" href="{{ static_url("favicon.svg") }}">
    <link rel="alternate icon" href="{{ static_url("favicon.ico") }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
        integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|
    Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}">
</head>

<body>
    <header>
        <h1>Welcome to Benford API!</h1>
    </header>

    <main>
        <section id="background">
            <h2>Background</h2>
            <p>
            Benford's law states that in many naturally occurring collections
            of numbers, the leading digit is observed to be '1' about 30% of the
            time, with the succeeding digits following a decreasing power law trend.
            </p>
            <p>
            This observation can be used to detect dataset manipulation or
            falsification, in applications such as accounting, natural sciences,
            or experimental data.   There are examples where this trend does
            not hold true - particularly where all digits have an equal likelihood
            of being the leading digit.  For example, there would not be many 
            NBA players shorter than 5 feet - generally they would range from 
            5 - 7 feet. Also, random number generators would be expected to have
            an even digit distribution - so Benford's law would not apply.  Small
            sample sizes and datasets that do no span several orders of magnitude
            may also deviate from Benford's law such as a person's weight or IQ
            score.
            </p>
        </section>

        <section id="instructions">
            <h2>Instructions</h2>
            <p>
            You may submit your own dataset to test against Benford's Law.
            This web application will plot your data against the expected Benford
            distribution, and also perform a <a href="https://en.wikipedia.org/wiki/Chi-squared_test">
            Chi-Squared Test</a> to see if your data conforms to Benford's Law.  
            </p>
        </section>

        <section id="csv_input">
            <p>Please upload your TSV to analyze.</p>
            <form enctype="multipart/form-data" action="/" method="post">
                <input id="benfordFileInput" type="file" name="input_file" />
                <br />
                <br />
                <input class="btn" id="benfordFileSubmit" type="submit" value="Upload File"/>
            </form>
        </section>

        <section id="results">
            <div class="plot-container">
                {% if plot %}
                <img 
                class="plot"
                alt="Benford Law Plot Overlaying Input Data" 
                src="{{ plot }}" 
                /> 
                {% else %}
                <div class="plot-placeholder">
                    <div><span>Upload Data To Generate Plot</span></div>
                </div>
                {% end %}
            </div>
            {% if plot %}
                {% if pval <= 0.01 %}
            <p id="pval_reject_null">
            The supplied data appears not to conform to Benford's Law as the Chi-Squared
            Test's p-value was {{ pval }} which is less than the 99% CI p-value of 0.01.
            This means we can reject a fit to Benford's law with 99% Confidence due to how the observed
            data differs from the expected distribution.  There is only a 1 in 100 chance
            that this difference in distribution occurred by random chance.
            </p>
                {% end %}
                {% if pval > 0.01 %}
            <p id="pval_accept_null">
            The supplied data follows the Benford's Law distribution, as the p-value 
            was {{ pval }} which is greater than target p-value 0.01 of the 99% CI. 
            This should be apparent from the plot of your data.  The data is not
            statistically different than the Benford Law distribution (we accept
            the null hypothesis).
            </p>
                {% end %}
            {% end %}
        </section>
    </main>

    <footer class="footer">
        <a href="mailto:justin.g.lowen@gmail.com" class="footer__link">justin.g.lowen@gmail.com</a>
        <ul class="social-list">
            <li class="social-list__item">
                <a class="social-list__link" href="https://www.justinlowen.dev/">
                    <i class="fas fa-globe"></i>
                    Portfolio
                </a>
            </li>
            <li class="social-list__item">
                <a class="social-list__link" href="https://github.com/JLowe-N/">
                    <i class="fab fa-github"></i>
                    Github
                </a>
            </li>
            <li class="social-list__item">
                <a class="social-list__link" href="https://www.linkedin.com/in/justinlowen/
                ">
                    <i class="fab fa-linkedin"></i>
                    LinkedIn
                </a>
            </li>
        </ul>
    </footer>
    <script src="{{ static_url("js/index.js") }}"></script>
</body>

</html>